/* Sets background image of initial page */
.background {
  background-image: url("../images/l-fantasy-gf6a0ca513_1920.jpg");
  background-repeat: no-repeat;
}

/* Font color and shadow on headers */
h1,
h4,
footer {
  color: #fefefe;
  text-shadow: 1px 1px 2px black;
}

/* controls form overlay */
.translucent-form-overlay {
  max-width: 500px;
  width: 100%;
  background-color: rgba(54, 54, 54, 0.8);
  padding: 20px;
  color: #fefefe;
  text-shadow: 1px 1px 2px black;
}

.translucent-form-overlay .columns.row {
  display: block;
}

.translucent-form-overlay input,
.translucent-form-overlay select {
  color: #8a8a8a;
}

.translucent-form-overlay input::-webkit-input-placeholder {
  color: #8a8a8a;
}

.translucent-form-overlay input:-ms-input-placeholder {
  color: #8a8a8a;
}

.translucent-form-overlay input::placeholder {
  color: #8a8a8a;
}

/* changes background image size at different screen sizes: 5000x2830 */

@media screen and (max-width: 5000px) {
  .background {
    background-image: url("../images/xl_fantasy-2750995.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

/* changes background image size at different screen sizes: 1920x1086 */
@media screen and (max-width: 1920px) {
  .background {
    background-image: url("../images/l-fantasy-gf6a0ca513_1920.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
/* changes background image size at different screen sizes: 1280x724 */

@media screen and (max-width: 1280px) {
  .background {
    background-image: url("../images/m_fantasy-ge93e0a4ca_1280.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
/* changes background image size at different screen sizes: 640x362 */

@media screen and (max-width: 640px) {
  .background {
    background-image: url("../images/s-fantasy-gd2cb1e487_640.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
