/* Sets background image of initial page */
.background {
    background-image: url("https://pixabay.com/get/g95e112befaa6aafd8770f90dc6981b3173bc15d81b03e3e244d1200b039ed8dbea394efdc78fa12bba7584312ed5361d35b2ee23e9be82d140588e9eb5faec9e476dbe1e7cbefeca4933d9b16e5268ca_1920.jpg");
    background-repeat: no-repeat;
}

/* Font color and shadow on headers */
h1, h4, footer {
  color: #fefefe;
  text-shadow: 1px 1px 2px black;
}

/* controls form overlay */
.translucent-form-overlay {
    max-width: 500px;
    width: 100%;
    background-color: rgba(54, 54, 54, 0.8);
    padding: 20px;
    color: #fefefe;
    text-shadow: 1px 1px 2px black;
  }
  
  .translucent-form-overlay .columns.row {
    display: block;
  }
    
  .translucent-form-overlay input, .translucent-form-overlay select {
    color: #8a8a8a;
  }
  
  .translucent-form-overlay input::-webkit-input-placeholder {
    color: #8a8a8a;
  }
  
  .translucent-form-overlay input:-ms-input-placeholder {
    color: #8a8a8a;
  }
  
  .translucent-form-overlay input::placeholder {
    color: #8a8a8a;
  }
